*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: bisque;
}

.about header{
    width: 80vw;
    display: flex;
    align-items: center;
}

.about main{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.about footer{
    width: 100%;
    margin-top: 2.5vw;
}

.top_image{
    width: 80vw;
    height: 35vw;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent),url("../assets/about.jpg");
    background-size: 80vw 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_image h2{
    font-size: 3vw;
    color: white;
    position:relative;
    top: 8vw;
}

.top_image h3{
    font-size: 1.5vw;
    color: white;
    position:relative;
    top: 7vw;
}

.main_text{
    color: rgb(252, 9, 9);
    width: 60vw;
    margin: 2vw;
}
.title{
    margin: 2vw;
    font-size: xx-large;
}

.description{
    margin: 2vw;
    font-size: medium;
    color: black;
}

.team{
    margin: -3vw 2vw;
    width: 60vw;
    display: flex;
    flex-direction: column;

}

.team h2{
    color: rgb(252, 9, 9);
    margin: 2vw;
}

.group{
    display: flex; 
    align-content: space-around;
}

.picture{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.member{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.name{
    color: rgb(252, 9, 9);
    margin:2vw 1vw;
}

.about_us{
    margin:2vw 1vw;
}

@media (max-width: 1100px){
    .group{
     flex-wrap: wrap;
    }
    footer{
        flex-wrap: wrap;
    }
}

footer{
    display: flex; 
    align-items:center;
    justify-content:space-evenly;
    background-color: darkcyan;
    align-self: flex-end;
    flex-wrap: wrap;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media{
    display: flex;
    justify-content: space-between;
}

.socialnetwork{
    width: 2.5vw;
    height: 2.5vw;
    margin: 1vw;
}