*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    background-color: bisque;
}

.about header{
    width: 80vw;
    height: 35vw;
    display: flex;
    align-items: center;
}

.about main{
    width: 80vw;
    height: 120vw;
}

.about footer{
    width: 80vw;
    height: 35vw;
}

.top_image{
    width: 80vw;
    height: 35vw;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent),url("../assets/about.jpg");
    background-size: 80vw 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_image h2{
    font-size: 3vw;
    color: white;
    position:relative;
    top: 8vw;
}

.top_image h3{
    font-size: 1.5vw;
    color: white;
    position:relative;
    top: 7vw;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.main_text{
    color: rgb(252, 9, 9);
    width: 60vw;
    margin: 2vw;
}
.title{
    margin: 2vw;
    font-size: xx-large;
}

.description{
    margin: 2vw;
    font-size: medium;
    color: black;
}

.team{
    margin: -1vw 2vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.team h2{
    color: rgb(252, 9, 9);
    margin: 2vw;
}

.group{
    display: flex; 
    align-content: space-around;
}

.picture{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.member{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.name{
    color: rgb(252, 9, 9);
    margin:2vw 1vw;
}

.about_us{
    margin:2vw 1vw;
}

@media (max-width: 1100px){
    .group{
     flex-wrap: wrap;
    }
}